@model IEnumerable<Economic_Game__Admin_.Models.GameSettings>

@{
    ViewBag.Title = "Settings List";
}


<table class="table table-bordered table-condensed gamesetting-list">
    <tr>
        <th colspan="13">
            <h1>
                Investment Game
            </h1>
            <h4>
                Administration - Game Settings Sets
            </h4>
            <div style="float: right;">
                <a href="/Home/Index" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;Return</a>&nbsp;&nbsp;
                <a href="/GameSettings/Create" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;New Setting Set</a>
            </div>
        </th>
    </tr>
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Starting Amount
        </th>
        <th>
            Round 1 X
        </th>
        <th>
            Round 2 X
        </th>
        <th>
            Round 3 X
        </th>
        <th>
            Round 4 X
        </th>
        <th>
            Round 1 Return %
        </th>
        <th>
            Round 2 Return %
        </th>
        <th>
            Round 3 Return %
        </th>
        <th>
            Round 4 Return %
        </th>
        <th>
            Default
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartingAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Round1Multiplier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Round2Multiplier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Round3Multiplier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Round4Multiplier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Round1ReturnPercentage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Round2ReturnPercentage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Round3ReturnPercentage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Round4ReturnPercentage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SelectedSettings)
        </td>
        <td style="text-align: center;">
            <a href="/GameSettings/Edit?id=@item.GameSettingsID" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit</a>&nbsp;&nbsp;
            <a href="/GameSettings/Delete?id=@item.GameSettingsID" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-remove"></span>&nbsp;Delete</a>
            <a style="margin-top: 5px;" href="/GameSettings/SetDefault?id=@item.GameSettingsID" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-check"></span>&nbsp;Make Default</a>
        </td>
    </tr>
}

</table>
